Callplus.CRM.Tabulador.App/Web References/WSRotalogService/WebServiceRota.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://jointecnologia.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://jointecnologia.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://jointecnologia.com/">
      <s:element name="IncluiColeta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSenha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cliCPF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cliRG" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cliNome" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cliDataNascimento" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="cliSexo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cliTelefone1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cliTelefone2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cliTelefone3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cliEndereco" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cliNumero" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cliComplemento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cliBairro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cliCidade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cliUF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cliCEP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cliPontoReferencia" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="colDataAgendamento" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="colTurnoAgendamento" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="colQuantFolhas" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="colCodTipoDocumento" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="colNumeroAdesao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="colObservacoes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="colDddAtivacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="colNumeroChip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="colNumeroOS" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IncluiColetaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IncluiColetaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaFasesColeta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSenha" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CodigoColeta" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaFasesColetaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaFasesColetaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaStatusAtualColeta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSenha" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CodigoColeta" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaStatusAtualColetaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaStatusAtualColetaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaCaminhoDocumentos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSenha" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CodigoColeta" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaCaminhoDocumentosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaCaminhoDocumentosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReservaChips">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSenha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DDDAtivacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CEPEntrega" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="QuantidadeChips" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReservaChipsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReservaChipsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadArquivo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSenha" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CodigoColeta" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sDescricaoArquivo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sNomeOriginalArquivo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Arquivo" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadArquivoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadArquivoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelaColeta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSenha" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CodigoColeta" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelaColetaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CancelaColetaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaDadosProtocoloLIQ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSenha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumeroAdesao" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaDadosProtocoloLIQResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaDadosProtocoloLIQResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistraAuditoriaProtocoloLIQ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSenha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumeroAdesao" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CodigoTratamento" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CodigoObjecao" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistraAuditoriaProtocoloLIQResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistraAuditoriaProtocoloLIQResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BaseAutentica">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSenha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BaseAutenticaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BaseAutenticaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BaseListaSituaoesEntrega">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSenha" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CodigoBase" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BaseListaSituaoesEntregaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BaseListaSituaoesEntregaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BaseListaEntregas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSenha" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CodigoBase" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BaseListaEntregasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BaseListaEntregasResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BaseConcluiEntrega">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSenha" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CodigoBase" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ColCodigo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CodigoSituacao" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SubStatusEntregue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ObservacoesAdicionais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sNomeOriginalArquivo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Arquivo" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BaseConcluiEntregaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BaseConcluiEntregaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IncluiColetaSoapIn">
    <wsdl:part name="parameters" element="tns:IncluiColeta" />
  </wsdl:message>
  <wsdl:message name="IncluiColetaSoapOut">
    <wsdl:part name="parameters" element="tns:IncluiColetaResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaFasesColetaSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaFasesColeta" />
  </wsdl:message>
  <wsdl:message name="ConsultaFasesColetaSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaFasesColetaResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaStatusAtualColetaSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaStatusAtualColeta" />
  </wsdl:message>
  <wsdl:message name="ConsultaStatusAtualColetaSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaStatusAtualColetaResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaCaminhoDocumentosSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaCaminhoDocumentos" />
  </wsdl:message>
  <wsdl:message name="ConsultaCaminhoDocumentosSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaCaminhoDocumentosResponse" />
  </wsdl:message>
  <wsdl:message name="ReservaChipsSoapIn">
    <wsdl:part name="parameters" element="tns:ReservaChips" />
  </wsdl:message>
  <wsdl:message name="ReservaChipsSoapOut">
    <wsdl:part name="parameters" element="tns:ReservaChipsResponse" />
  </wsdl:message>
  <wsdl:message name="UploadArquivoSoapIn">
    <wsdl:part name="parameters" element="tns:UploadArquivo" />
  </wsdl:message>
  <wsdl:message name="UploadArquivoSoapOut">
    <wsdl:part name="parameters" element="tns:UploadArquivoResponse" />
  </wsdl:message>
  <wsdl:message name="CancelaColetaSoapIn">
    <wsdl:part name="parameters" element="tns:CancelaColeta" />
  </wsdl:message>
  <wsdl:message name="CancelaColetaSoapOut">
    <wsdl:part name="parameters" element="tns:CancelaColetaResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaDadosProtocoloLIQSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaDadosProtocoloLIQ" />
  </wsdl:message>
  <wsdl:message name="ConsultaDadosProtocoloLIQSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaDadosProtocoloLIQResponse" />
  </wsdl:message>
  <wsdl:message name="RegistraAuditoriaProtocoloLIQSoapIn">
    <wsdl:part name="parameters" element="tns:RegistraAuditoriaProtocoloLIQ" />
  </wsdl:message>
  <wsdl:message name="RegistraAuditoriaProtocoloLIQSoapOut">
    <wsdl:part name="parameters" element="tns:RegistraAuditoriaProtocoloLIQResponse" />
  </wsdl:message>
  <wsdl:message name="BaseAutenticaSoapIn">
    <wsdl:part name="parameters" element="tns:BaseAutentica" />
  </wsdl:message>
  <wsdl:message name="BaseAutenticaSoapOut">
    <wsdl:part name="parameters" element="tns:BaseAutenticaResponse" />
  </wsdl:message>
  <wsdl:message name="BaseListaSituaoesEntregaSoapIn">
    <wsdl:part name="parameters" element="tns:BaseListaSituaoesEntrega" />
  </wsdl:message>
  <wsdl:message name="BaseListaSituaoesEntregaSoapOut">
    <wsdl:part name="parameters" element="tns:BaseListaSituaoesEntregaResponse" />
  </wsdl:message>
  <wsdl:message name="BaseListaEntregasSoapIn">
    <wsdl:part name="parameters" element="tns:BaseListaEntregas" />
  </wsdl:message>
  <wsdl:message name="BaseListaEntregasSoapOut">
    <wsdl:part name="parameters" element="tns:BaseListaEntregasResponse" />
  </wsdl:message>
  <wsdl:message name="BaseConcluiEntregaSoapIn">
    <wsdl:part name="parameters" element="tns:BaseConcluiEntrega" />
  </wsdl:message>
  <wsdl:message name="BaseConcluiEntregaSoapOut">
    <wsdl:part name="parameters" element="tns:BaseConcluiEntregaResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceRotaSoap">
    <wsdl:operation name="IncluiColeta">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Inclui coleta no sistema</wsdl:documentation>
      <wsdl:input message="tns:IncluiColetaSoapIn" />
      <wsdl:output message="tns:IncluiColetaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaFasesColeta">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta histórico de fases da coleta</wsdl:documentation>
      <wsdl:input message="tns:ConsultaFasesColetaSoapIn" />
      <wsdl:output message="tns:ConsultaFasesColetaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaStatusAtualColeta">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta o status atual da coleta</wsdl:documentation>
      <wsdl:input message="tns:ConsultaStatusAtualColetaSoapIn" />
      <wsdl:output message="tns:ConsultaStatusAtualColetaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaCaminhoDocumentos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta caminhos de download de documentos</wsdl:documentation>
      <wsdl:input message="tns:ConsultaCaminhoDocumentosSoapIn" />
      <wsdl:output message="tns:ConsultaCaminhoDocumentosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReservaChips">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna lista de números de chips para o DDD informado e CEP, conforme quantidade indicada. Deixa chips retornados reservados até o dia seguinte.</wsdl:documentation>
      <wsdl:input message="tns:ReservaChipsSoapIn" />
      <wsdl:output message="tns:ReservaChipsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadArquivo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Faz upload de arquivo para a coleta ou entrega</wsdl:documentation>
      <wsdl:input message="tns:UploadArquivoSoapIn" />
      <wsdl:output message="tns:UploadArquivoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelaColeta">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Cancela coleta passada como parametro. Retorna informação de status de cancelamento ou ERRO caso ocorra</wsdl:documentation>
      <wsdl:input message="tns:CancelaColetaSoapIn" />
      <wsdl:output message="tns:CancelaColetaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaDadosProtocoloLIQ">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta dados da venda a partir do número de protocolo. Exclusivo para LIQ</wsdl:documentation>
      <wsdl:input message="tns:ConsultaDadosProtocoloLIQSoapIn" />
      <wsdl:output message="tns:ConsultaDadosProtocoloLIQSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistraAuditoriaProtocoloLIQ">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Registra Auditoria de venda e avança fase conforme tratamento informado. Exclusivo para LIQ</wsdl:documentation>
      <wsdl:input message="tns:RegistraAuditoriaProtocoloLIQSoapIn" />
      <wsdl:output message="tns:RegistraAuditoriaProtocoloLIQSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BaseAutentica">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Valida usuario e retorna informações para demais consultas</wsdl:documentation>
      <wsdl:input message="tns:BaseAutenticaSoapIn" />
      <wsdl:output message="tns:BaseAutenticaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BaseListaSituaoesEntrega">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta lista de situações possíveis para registro de entrega</wsdl:documentation>
      <wsdl:input message="tns:BaseListaSituaoesEntregaSoapIn" />
      <wsdl:output message="tns:BaseListaSituaoesEntregaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BaseListaEntregas">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta lista de entregas pendentes</wsdl:documentation>
      <wsdl:input message="tns:BaseListaEntregasSoapIn" />
      <wsdl:output message="tns:BaseListaEntregasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BaseConcluiEntrega">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Faz upload de arquivo para a coleta ou entrega</wsdl:documentation>
      <wsdl:input message="tns:BaseConcluiEntregaSoapIn" />
      <wsdl:output message="tns:BaseConcluiEntregaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceRotaSoap" type="tns:WebServiceRotaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IncluiColeta">
      <soap:operation soapAction="http://jointecnologia.com/IncluiColeta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaFasesColeta">
      <soap:operation soapAction="http://jointecnologia.com/ConsultaFasesColeta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaStatusAtualColeta">
      <soap:operation soapAction="http://jointecnologia.com/ConsultaStatusAtualColeta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaCaminhoDocumentos">
      <soap:operation soapAction="http://jointecnologia.com/ConsultaCaminhoDocumentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReservaChips">
      <soap:operation soapAction="http://jointecnologia.com/ReservaChips" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadArquivo">
      <soap:operation soapAction="http://jointecnologia.com/UploadArquivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelaColeta">
      <soap:operation soapAction="http://jointecnologia.com/CancelaColeta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaDadosProtocoloLIQ">
      <soap:operation soapAction="http://jointecnologia.com/ConsultaDadosProtocoloLIQ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistraAuditoriaProtocoloLIQ">
      <soap:operation soapAction="http://jointecnologia.com/RegistraAuditoriaProtocoloLIQ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BaseAutentica">
      <soap:operation soapAction="http://jointecnologia.com/BaseAutentica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BaseListaSituaoesEntrega">
      <soap:operation soapAction="http://jointecnologia.com/BaseListaSituaoesEntrega" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BaseListaEntregas">
      <soap:operation soapAction="http://jointecnologia.com/BaseListaEntregas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BaseConcluiEntrega">
      <soap:operation soapAction="http://jointecnologia.com/BaseConcluiEntrega" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceRotaSoap12" type="tns:WebServiceRotaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IncluiColeta">
      <soap12:operation soapAction="http://jointecnologia.com/IncluiColeta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaFasesColeta">
      <soap12:operation soapAction="http://jointecnologia.com/ConsultaFasesColeta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaStatusAtualColeta">
      <soap12:operation soapAction="http://jointecnologia.com/ConsultaStatusAtualColeta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaCaminhoDocumentos">
      <soap12:operation soapAction="http://jointecnologia.com/ConsultaCaminhoDocumentos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReservaChips">
      <soap12:operation soapAction="http://jointecnologia.com/ReservaChips" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadArquivo">
      <soap12:operation soapAction="http://jointecnologia.com/UploadArquivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelaColeta">
      <soap12:operation soapAction="http://jointecnologia.com/CancelaColeta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaDadosProtocoloLIQ">
      <soap12:operation soapAction="http://jointecnologia.com/ConsultaDadosProtocoloLIQ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistraAuditoriaProtocoloLIQ">
      <soap12:operation soapAction="http://jointecnologia.com/RegistraAuditoriaProtocoloLIQ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BaseAutentica">
      <soap12:operation soapAction="http://jointecnologia.com/BaseAutentica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BaseListaSituaoesEntrega">
      <soap12:operation soapAction="http://jointecnologia.com/BaseListaSituaoesEntrega" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BaseListaEntregas">
      <soap12:operation soapAction="http://jointecnologia.com/BaseListaEntregas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BaseConcluiEntrega">
      <soap12:operation soapAction="http://jointecnologia.com/BaseConcluiEntrega" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceRota">
    <wsdl:port name="WebServiceRotaSoap" binding="tns:WebServiceRotaSoap">
      <soap:address location="http://cpro33117.publiccloud.com.br/SistemaRotalogHomologacao/WebServiceRota.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceRotaSoap12" binding="tns:WebServiceRotaSoap12">
      <soap12:address location="http://cpro33117.publiccloud.com.br/SistemaRotalogHomologacao/WebServiceRota.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>